body{
    background-color: gray;
}

.loginDiv{
    padding: 15px;
    border: solid 1px lightgray;
    box-shadow: 0 0 4px black;
    display: inline-block;
    margin-top: 20px;
}

.loginDiv input{
    display: block;
    margin-bottom: 2px;
}

.loginDiv input:focus{
    box-shadow: 0 0 3px;
}

.loginDiv input[type="email"]{
    border: solid 1px blue;
}

.loginDiv button:hover{
    box-shadow: 0 0 3px;
    cursor: pointer;
    display: inline;
}

#divMenu{
    position:fixed;
    top:0;
    background-color: white;
    display: flex;
    width:97.5%;
}

.btnMenu {
    width:100%;
    background-color:darkgrey;
    color: white;
    font-weight: bold;
    text-align: center;
}

.btnMenu:hover{
    cursor: pointer;
    box-shadow: white 0 0 30px;
    width: 120%;
    height: 120%;
}

.styCalculator{
    width: 100%;
    font-weight: bold;
}

.styCalculator:hover{
    width: 105%;
    height: 105%;
    background-color: black;
    color: white;
    box-shadow: 0 0 3px white;
}