

h1{
    color: rgb(168, 84, 84);
}

#elso{
    color: green;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#masodik{
    color: greenyellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p{
    color: grey;
    font-size: 20px;
    width: 65%;;
}

.bold{
    font-weight: bold;
}

.asd{
    color: indigo;
    width: 500px;
}

img{
    width: 30%;
    height: 30%;
    box-shadow: 0 0 10px black;
    margin: 1%;
}

.imgdiv{
    border: dotted black;
    background: rgba(90, 62, 41, 0.4);
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

.ert{
    font-family: 'Oswald', sans-serif;
    color: chocolate;
    width: 65%;
}

#imgEgy{
    visibility:inherit;
    position: fixed;
    top: 0px;
    right:0px;
}